<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>@ViewData["Title"]</title>

    <!-- jQuery UI CSS da CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.14.1/themes/base/jquery-ui.min.css"
          integrity="sha512-TFee0335YRJoyiqz8hA8KV3P0tXa5CpRBSoM0Wnkn7JoJx1kaq1yXL/rb8YFpWXkMOjRcv5txv+C6UluttluCQ=="
          crossorigin="anonymous" />

    <!-- Bootstrap 5 CSS da CDN -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/css/bootstrap.min.css"
          rel="stylesheet" 
          integrity="sha512-2bBQCjcnw658Lho4nlXJcc6WkV/UxpE/sAokbXPxQNGqmNdQrWqtw26Ns9kFF/yG792pKR1Sx8/Y1Lf1XN4GKA=="
          crossorigin="anonymous" />
    
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/utilities/custom-utilities.css" asp-append-version="true" rel="stylesheet" />

    <!-- Font Awesome da CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
          integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
          crossorigin="anonymous" />

    <link href="~/logistic.png" rel="shortcut icon" type="image/x-icon" />
    <link href="~/logistic.png" rel="icon" type="image/x-icon" />

    <!-- DataTables CSS da CDN -->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.5/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/3.2.5/css/buttons.bootstrap5.min.css" />

    @await RenderSectionAsync("Scripts", required: false)

</head>

<body>

    <!-- Skip to content link for accessibility -->
    <a href="#main-content" class="skip-to-content">Salta al contenuto principale</a>

    <header>
        @if (@User.Identity?.Name != null)
        {
            <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom shadow-sm mb-3">
                <div class="container-fluid">

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="navbar-collapse collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-sm-0">

                            @if ((User.IsInRole("ADMIN") || User.IsInRole("SUPERVISOR")))
                            {
                                @* SONAR: role="button" è corretto per Bootstrap 5 navbar dropdown - non cambiare in <button> *@
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownLogistica" role="button" data-bs-toggle="dropdown" aria-expanded="false" tabindex="0" onkeydown="if(event.key==='Enter'||event.key===' '){event.preventDefault();this.click();}">Logistica</a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownLogistica">
                                        @* <li><a class="dropdown-item" asp-page="/PagesAccettazione/Create">Accettazione Bancali</a></li> *@
                                        <li><a class="dropdown-item" asp-page="/PagesNormalizzazione/Create">Normalizzazione Scatole</a></li>
                                    </ul>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownSorter" role="button" data-bs-toggle="dropdown" aria-expanded="false" tabindex="0" onkeydown="if(event.key==='Enter'||event.key===' '){event.preventDefault();this.click();}">Sorter</a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownSorter">
                                        <li><a class="dropdown-item" asp-page="/PagesSorter/Create">Scansione Sorter</a></li>
                                    </ul>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAggiornamento" role="button" data-bs-toggle="dropdown" aria-expanded="false" tabindex="0" onkeydown="if(event.key==='Enter'||event.key===' '){event.preventDefault();this.click();}">Aggiornamento</a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownAggiornamento">
                                        <li><a class="dropdown-item" asp-page="/PagesMacero/Index">Macero</a></li>
                                        <li><a class="dropdown-item" asp-page="/PagesSpostaGiacenza/Create">Sposta Giacenza</a></li>
                                    </ul>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownReports" role="button" data-bs-toggle="dropdown" aria-expanded="false" tabindex="0" onkeydown="if(event.key==='Enter'||event.key===' '){event.preventDefault();this.click();}">Reports</a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownReports">
                                        @* <li><a class="dropdown-item" asp-page="/PagesRiepilogoBancali/Index">Report Bancali</a></li> *@
                                        <li><a class="dropdown-item" asp-page="/PagesVolumi/Index">Report Giacenza</a></li>
                                        <li><a class="dropdown-item" asp-page="/PagesRiepilogo/Index">Report Scatole</a></li>
                                        <li><a class="dropdown-item" asp-page="/PagesNormalizzato/Index">Report Commesse Normalizzate</a></li>
                                        <li><a class="dropdown-item" asp-page="/PagesSorterizzato/Index">Report Commesse Sorter</a></li>
                                    </ul>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownImpostazioni" role="button" data-bs-toggle="dropdown" aria-expanded="false" tabindex="0" onkeydown="if(event.key==='Enter'||event.key===' '){event.preventDefault();this.click();}">Impostazioni</a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownImpostazioni">
                                        <li><a class="dropdown-item" asp-page="/PagesAssociazione/Index">Associazione</a></li>
                                        <li><a class="dropdown-item" asp-page="/TipiLavorazioni/Index">Commesse</a></li>
                                        <li><a class="dropdown-item" asp-page="/TipiContenitori/Index">Contenitori</a></li>
                                        <li><a class="dropdown-item" asp-page="/PagesOperatori/Index">Operatori</a></li>
                                        <li><a class="dropdown-item" asp-page="/TipoPiattaforme/Index">Piattaforme</a></li>
                                        <li><a class="dropdown-item" asp-page="/TipologiaNormalizzazione/Index">Tipologia Normalizzazione</a></li>
                                        <li><a class="dropdown-item" asp-page="/TipiDocumenti/Index">Tipologie</a></li>
                                    </ul>
                                </li>

                            }
                            else if (User.FindFirst("Azienda").Value == "POSTEL")
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle disabled" href="#" id="navbarDropdownLogisticaPostel" role="button" aria-expanded="false">Logistica</a>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownSorterPostel" role="button" data-bs-toggle="dropdown" aria-expanded="false" tabindex="0" onkeydown="if(event.key==='Enter'||event.key===' '){event.preventDefault();this.click();}">Sorter</a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownSorterPostel">
                                        <li><a class="dropdown-item" asp-page="/PagesSorter/Create">Scansione Sorter</a></li>
                                    </ul>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAggiornamentoPostel" role="button" data-bs-toggle="dropdown" aria-expanded="false" tabindex="0" onkeydown="if(event.key==='Enter'||event.key===' '){event.preventDefault();this.click();}">Aggiornamento</a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownAggiornamentoPostel">
                                        <li><a class="dropdown-item" asp-page="/PagesMacero/Index">Macero</a></li>
                                        <li><a class="dropdown-item" asp-page="/PagesSpostaGiacenza/Create">Sposta Giacenza</a></li>
                                    </ul>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownReportsPostel" role="button" data-bs-toggle="dropdown" aria-expanded="false" tabindex="0" onkeydown="if(event.key==='Enter'||event.key===' '){event.preventDefault();this.click();}">Reports</a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownReportsPostel">
                                        @* <li><a class="dropdown-item" asp-page="/PagesRiepilogoBancali/Index">Report Bancali</a></li> *@
                                        <li><a class="dropdown-item" asp-page="/PagesVolumi/Index">Report Giacenza</a></li>
                                        <li><a class="dropdown-item" asp-page="/PagesRiepilogo/Index">Report Scatole</a></li>
                                        <li><a class="dropdown-item" asp-page="/PagesNormalizzato/Index">Report Commesse Normalizzate</a></li>
                                        <li><a class="dropdown-item" asp-page="/PagesSorterizzato/Index">Report Commesse Sorter</a></li>
                                    </ul>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle disabled" href="#" id="navbarDropdownImpostazioniPostel" role="button" aria-expanded="false">Impostazioni</a>
                                </li>

                            }
                            else if (User.FindFirst("Azienda").Value == "ESTERNO")
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownLogisticaEsterno" role="button" data-bs-toggle="dropdown" aria-expanded="false" tabindex="0" onkeydown="if(event.key==='Enter'||event.key===' '){event.preventDefault();this.click();}">Logistica</a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownLogisticaEsterno">
                                        @* <li><a class="dropdown-item" asp-page="/PagesAccettazione/Create">Accettazione Bancali</a></li> *@
                                        <li><a class="dropdown-item" asp-page="/PagesNormalizzazione/Create">Normalizzazione Scatole</a></li>
                                    </ul>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle disabled" href="#" id="navbarDropdownSorterEsterno" role="button" aria-expanded="false">Sorter</a>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle disabled" href="#" id="navbarDropdownAggiornamentoEsterno" role="button" aria-expanded="false">Aggiornamento</a>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownReportsEsterno" role="button" data-bs-toggle="dropdown" aria-expanded="false" tabindex="0" onkeydown="if(event.key==='Enter'||event.key===' '){event.preventDefault();this.click();}">Reports</a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownReportsEsterno">
                                        @* <li><a class="dropdown-item" asp-page="/PagesRiepilogoBancali/Index">Report Bancali</a></li> *@
                                        <li><a class="dropdown-item disabled">Report Giacenza</a></li>
                                        <li><a class="dropdown-item" asp-page="/PagesRiepilogo/Index">Report Scatole</a></li>
                                        <li><a class="dropdown-item" asp-page="/PagesNormalizzato/Index">Report Commesse Normalizzate</a></li>
                                        <li><a class="dropdown-item disabled">Report Commesse Sorter</a></li>
                                    </ul>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle disabled" href="#" id="navbarDropdownImpostazioniEsterno" role="button" aria-expanded="false">Impostazioni</a>
                                </li>
                            }

                        </ul>

                        <ul class="navbar-nav ms-auto mb-2 mb-sm-0">
                            <li class="nav-item">
                                <span class="nav-link"><i class="far fa-user" aria-hidden="true"></i> @User.Identity.Name&nbsp;( @User.FindFirst("Ruolo").Value.ToLower() - @User.FindFirst("Azienda").Value.ToLower() - @User.FindFirst("Centro").Value.ToLower() ) </span>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" asp-page="/Logout/Index"><i class="fas fa-sign-out-alt" aria-hidden="true"></i> Logout</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </nav>

        }


    </header>

    <div class="container-fluid">
        <main role="main" class="pb-3" id="main-content" tabindex="-1">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
                       
        </div>
    </footer>

    <!-- jQuery da CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            crossorigin="anonymous"></script>

    <!-- Bootstrap 5 - Bundle include Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/js/bootstrap.bundle.min.js" 
            integrity="sha512-HvOjJrdwNpDbkGJIG2ZNqDlVqMo77qbs4Me4cah0HoDrfhrbA+8SBlZn1KrvAQw7cILLPFJvdwIgphzQmMm+Pw=="
            crossorigin="anonymous"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- jQuery UI da CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.14.1/jquery-ui.min.js" 
            integrity="sha512-MSOo1aY+3pXCOCdGAYoBZ6YGI0aragoQsg1mKKBHXCYPIWxamwOE7Drh+N5CPgGI5SA9IEKJiPjdfqWFWmZtRA=="
            crossorigin="anonymous"></script>

    <!-- DataTables Core -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables.net/2.3.4/dataTables.min.js"
            integrity="sha512-5ARTQ7h7hhwl5WAI+ZAwFArz4mJQW60t26eKteLbCRjSwB2W2PygpYVK/IocE333gnUBLVCHaec8UTOwNdlung=="
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables.net-bs5/2.3.4/dataTables.bootstrap5.min.js"
            integrity="sha512-Nyuq/4gMn0cpq7HmxQyQjxNYEM6MFJgUJ98EAUQl+PPE6WvEcgKtyT8PPORQqEGLdf3/2yMaLjLwyH9nBUZOog=="
            crossorigin="anonymous"></script>

    <!-- JSZip per Export Excel - DEVE essere caricato PRIMA di buttons.html5 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"
            integrity="sha512-XMVd28F1oH/O71fzwBnV7HucLxVwtxf26XV8P4wPk26EDxuGZ91N8bsOttmnomcCD3CS5ZMRL50H0GgOHvegtg=="
            crossorigin="anonymous"></script>

    <!-- DataTables Buttons Plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables-buttons/3.2.5/js/dataTables.buttons.min.js"
            integrity="sha512-LxCxZZK2MuoUXYitpeYAg5WmvGPMHssUTYjFU8Gbt+udHHm8pDmlfVVPR3hzC56BV9EFIJ+AYmMrLHeXrk6lRA=="
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables.net-buttons-bs5/3.2.5/buttons.bootstrap5.min.js"
            integrity="sha512-s01dikxa5wWOAEGtUK10oPKTGHHxTWaeIVD9B+ywyxCXK5+8/Ti8HMg+R7ZAHq6PlZGhUAgX+5SWLmN9YQCU5w=="
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables-buttons/3.2.5/js/buttons.html5.min.js"
            integrity="sha512-SJXfiKhGeIHL/snT2BhDubxR08IZp4Vr8g7xCkXMomtEJvK5RWOJQdbFmAUBMK4V7OOixaAtQTeVU7BYtxWKew=="
            crossorigin="anonymous"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables-buttons/3.2.5/js/buttons.print.min.js"
            integrity="sha512-uADRWmFIAogOR7XnOTW8uRbnXhgd8BRbsC6JYlX+z9vqdat0dbUsVBTyyjTFNyzKVn7acHxCO53fR3oT/qyoug=="
            crossorigin="anonymous"></script>

    <!-- Vue.js da CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.16/vue.min.js" 
            integrity="sha512-Wx8niGbPNCD87mSuF0sBRytwW2+2ZFr7HwVDF8krCb3egstCc4oQfig+/cfg2OHd82KcUlOYxlSDAqdHqK5TCw=="
            crossorigin="anonymous"></script>

    <!-- Axios da CDN -->
    <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>

    <!-- Moment.js da CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>

    <!-- jQuery Validation da CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.21.0/jquery.validate.min.js"
            integrity="sha512-KFHXdr2oObHKI9w4Hv1XPKc898mE4kgYx58oqsc/JqqdLMDI4YjOLzom+EMlW8HFUd0QfjfAvxSL6sEq/a42fQ=="
            crossorigin="anonymous"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js"
            integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog=="
            crossorigin="anonymous"></script>

    <!-- Input Helpers (ES6 Module) -->
    <script type="module" src="~/js/input-helpers.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>
