<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewData["Title"]</title>

    <link href="~/lib/jqueryui/jquery-ui.css" rel="stylesheet" />

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/utilities/custom-utilities.css" asp-append-version="true" rel="stylesheet" />

    <!-- font-awesome -->
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />

    <link href="~/logistic.png" rel="shortcut icon" type="image/x-icon" />
    <link href="~/logistic.png" rel="icon" type="image/x-icon" />

    <!-- datatables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.5/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/3.2.5/css/buttons.bootstrap5.min.css"  />

    @RenderSection("styles", required: false)

</head>

<body>

    <header>
        @if (@User.Identity.Name != null)
        {
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="navbar-collapse collapse w-100">
                        <ul class="navbar-nav mr-auto w-100 justify-content-start">

                            @if ((User.IsInRole("ADMIN") || User.IsInRole("SUPERVISOR")))
                            {

                                <li class="nav-item dropdown active">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="-1">Logistica</a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" asp-page="/PagesAccettazione/Create">Accettazione&nbspBancali</a>
                                        <a class="dropdown-item" asp-page="/PagesNormalizzazione/Create">Normalizzazione&nbspScatole</a>
                                    </div>
                                </li>


                                <li class="nav-item dropdown active">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="-1">Sorter</a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" asp-page="/PagesSorter/Create">Scansione Sorter</a>
                                    </div>
                                </li>

                                <li class="nav-item dropdown active">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="-1">Aggiornamento</a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" asp-page="/PagesMacero/Index">Macero</a>
                                        <a class="dropdown-item" asp-page="/PagesSpostaGiacenza/Create">Sposta&nbspGiacenza</a>
                                    </div>
                                </li>



                                <li class="nav-item dropdown active">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="-1">Reports</a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" asp-page="/PagesRiepilogoBancali/Index">Report&nbspBancali</a>
                                        <a class="dropdown-item" asp-page="/PagesVolumi/Index">Report Giacenza</a>
                                        <a class="dropdown-item" asp-page="/PagesRiepilogo/Index">Report&nbspScatole</a>
                                        <a class="dropdown-item" asp-page="/PagesNormalizzato/Index">Report&nbspCommesse&nbspNormalizzate</a>
                                        <a class="dropdown-item" asp-page="/PagesSorterizzato/Index">Report&nbspCommesse&nbspSorter</a>
                                    </div>
                                </li>



                                <li class="nav-item dropdown active">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="-1">Impostazioni</a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" asp-page="/PagesAssociazione/Index">Associazione</a>
                                        <a class="dropdown-item" asp-page="/TipiLavorazioni/Index">Commesse</a>
                                        <a class="dropdown-item" asp-page="/TipiContenitori/Index">Contenitori</a>
                                        <a class="dropdown-item" asp-page="/PagesOperatori/Index">Operatori</a>
                                        <a class="dropdown-item" asp-page="/TipoPiattaforme/Index">Piattaforme</a>
                                        <a class="dropdown-item" asp-page="/TipologiaNormalizzazione/Index">Tipologia Normalizzazione</a>
                                        <a class="dropdown-item" asp-page="/TipiDocumenti/Index">Tipologie</a>
                                    </div>
                                </li>

                            }
                            else if (User.FindFirst("Azienda").Value == "POSTEL")
                            {
                                <li class="nav-item dropdown disabled">
                                    <a class="nav-link dropdown-toggle disabled" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="-1">Logistica</a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" asp-page="/PagesAccettazione/Create">Accettazione&nbspBancali</a>
                                        <a class="dropdown-item" asp-page="/PagesNormalizzazione/Create">Normalizzazione&nbspScatole</a>
                                    </div>
                                </li>


                                <li class="nav-item dropdown active">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="-1">Sorter</a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" asp-page="/PagesSorter/Create">Scansione Sorter</a>
                                    </div>
                                </li>

                                <li class="nav-item dropdown active">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="-1">Aggiornamento</a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" asp-page="/PagesMacero/Index">Macero</a>
                                        <a class="dropdown-item" asp-page="/PagesSpostaGiacenza/Create">Sposta&nbspGiacenza</a>
                                    </div>
                                </li>



                                <li class="nav-item dropdown active" >
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="-1" >Reports</a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" >
                                        <a class="dropdown-item" asp-page="/PagesRiepilogoBancali/Index">Report&nbspBancali</a>
                                        <a class="dropdown-item" asp-page="/PagesVolumi/Index">Report Giacenza</a>
                                        <a class="dropdown-item" asp-page="/PagesRiepilogo/Index">Report&nbspScatole</a>
                                        <a class="dropdown-item" asp-page="/PagesNormalizzato/Index">Report&nbspCommesse&nbspNormalizzate</a>
                                        <a class="dropdown-item" asp-page="/PagesSorterizzato/Index">Report&nbspCommesse&nbspSorter</a>
                                    </div>
                                </li>



                                <li class="nav-item dropdown disabled" >
                                    <a class="nav-link dropdown-toggle disabled " href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="-1">Impostazioni</a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" disabled>
                                        <a class="dropdown-item" asp-page="/PagesAssociazione/Index" >Associazione</a>
                                        <a class="dropdown-item" asp-page="/TipiLavorazioni/Index">Commesse</a>
                                        <a class="dropdown-item" asp-page="/TipiContenitori/Index">Contenitori</a>
                                        <a class="dropdown-item" asp-page="/PagesOperatori/Index">Operatori</a>
                                        <a class="dropdown-item" asp-page="/TipoPiattaforme/Index">Piattaforme</a>
                                        <a class="dropdown-item" asp-page="/TipologiaNormalizzazione/Index">Tipologia Normalizzazione</a>
                                        <a class="dropdown-item" asp-page="/TipiDocumenti/Index">Tipologie</a>
                                    </div>
                                </li>

                            }
                            else if (User.FindFirst("Azienda").Value == "ESTERNO")
                            {
                                <li class="nav-item dropdown active">
                                    <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="-1">Logistica</a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" asp-page="/PagesAccettazione/Create">Accettazione&nbspBancali</a>
                                        <a class="dropdown-item" asp-page="/PagesNormalizzazione/Create">Normalizzazione&nbspScatole</a>
                                    </div>
                                </li>


                                <li class="nav-item dropdown disabled">
                                    <a class="nav-link dropdown-toggle disabled" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="-1">Sorter</a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" asp-page="/PagesSorter/Create">Scansione Sorter</a>
                                    </div>
                                </li>

                                <li class="nav-item dropdown disabled">
                                    <a class="nav-link dropdown-toggle disabled" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="-1">Aggiornamento</a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" asp-page="/PagesMacero/Index">Macero</a>
                                        <a class="dropdown-item" asp-page="/PagesSpostaGiacenza/Create">Sposta&nbspGiacenza</a>
                                    </div>
                                </li>



                                <li class="nav-item dropdown active">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="-1">Reports</a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" asp-page="/PagesRiepilogoBancali/Index">Report&nbspBancali</a>
                                        <a class="dropdown-item disabled" asp-page="/PagesVolumi/Index">Report Giacenza</a>
                                        <a class="dropdown-item" asp-page="/PagesRiepilogo/Index">Report&nbspScatole</a>
                                        <a class="dropdown-item" asp-page="/PagesNormalizzato/Index">Report&nbspCommesse&nbspNormalizzate</a>
                                        <a class="dropdown-item disabled" asp-page="/PagesSorterizzato/Index">Report&nbspCommesse&nbspSorter</a>
                                    </div>
                                </li>



                                <li class="nav-item dropdown disabled">
                                    <a class="nav-link dropdown-toggle disabled " href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="-1">Impostazioni</a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" disabled>
                                        <a class="dropdown-item" asp-page="/PagesAssociazione/Index">Associazione</a>
                                        <a class="dropdown-item" asp-page="/TipiLavorazioni/Index">Commesse</a>
                                        <a class="dropdown-item" asp-page="/TipiContenitori/Index">Contenitori</a>
                                        <a class="dropdown-item" asp-page="/PagesOperatori/Index">Operatori</a>
                                        <a class="dropdown-item" asp-page="/TipoPiattaforme/Index">Piattaforme</a>
                                        <a class="dropdown-item" asp-page="/TipologiaNormalizzazione/Index">Tipologia Normalizzazione</a>
                                        <a class="dropdown-item" asp-page="/TipiDocumenti/Index">Tipologie</a>
                                    </div>
                                </li>
                            }



                        </ul>

                        <ul class="navbar-nav ml-auto w-100 justify-content-end">

                            @* User *@
                            <li class="nav-item justify-content-end">
                                <a class="nav-link active" tabindex="-1"><i class="far fa-user"></i> @User.Identity.Name&nbsp( @User.FindFirst("Ruolo").Value.ToLower() - @User.FindFirst("Azienda").Value.ToLower() - @User.FindFirst("Centro").Value.ToLower() ) </a>
                            </li>

                            @* Logout *@
                            <li class="nav-item active justify-content-end">
                                <a class="nav-link active" tabindex="-1" asp-page="/Logout/Index"><i class="fas fa-sign-out-alt"></i> Logout</a>
                            </li>

                        </ul>
                    </div>

                </div>
            </nav>

        }


    </header>

    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted ">
        <div class="container text-center">
                       
        </div>
    </footer>

    <!-- jQuery DEVE essere caricato per primo -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            crossorigin="anonymous"></script>

    <!-- Bootstrap -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- jQuery UI -->
    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>

    <!-- DataTables Core -->
    <script src="https://cdn.datatables.net/2.3.5/js/dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/2.3.5/js/dataTables.bootstrap5.min.js"></script>

    
    <!-- JSZip per Export Excel - DEVE essere caricato PRIMA di buttons.html5 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>


    <!-- DataTables Buttons Plugin -->
    <script src="https://cdn.datatables.net/buttons/3.2.5/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.5/js/buttons.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.5/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.5/js/buttons.print.min.js"></script>

    <!-- Vue-js -->
    <script src="~/lib/vue/vue.min.js"></script>

    <!-- Axios -->
    <script src="~/lib/axios/axios.min.js"></script>

    <!-- Moment -->
    <script src="~/lib/moment/moment.js"></script>

    <!-- Input Helpers (ES6 Module) -->
    <script type="module" src="~/js/input-helpers.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>
