@model GiacenzaSorterRm.Pages.PagesMacero.IndexModel

@{
    Layout = null;
}

<style>
    .box {
        overflow-wrap: break-word;
    }
</style>


<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="col-xs-6 col-xs-offset-6 center">
                @if (!string.IsNullOrEmpty(Model.Message))
                {
                    var isSuccess = Model.Message.Contains("successo", StringComparison.OrdinalIgnoreCase);
                    var alertClass = isSuccess ? "alert-success" : 
                                    Model.Message.Contains("Nessuna scatola", StringComparison.OrdinalIgnoreCase) ? "alert-warning" : "alert-danger";
                    <div class="alert @alertClass" role="alert" id="maceroResultMessage" data-success="@isSuccess.ToString().ToLower()">
                        @Model.Message
                    </div>
                }
            </div>

            @if (Model.LstMaceroView != null && Model.LstMaceroView.Count > 0)
            {
                <form id="formRiepilogo" method="post" asp-page-handler="Macera" style="width:100%">

                    @if ((User.IsInRole("ADMIN") || User.IsInRole("SUPERVISOR")))
                    {

                        <input type="submit" id="btnElimina" hidden />

                        <input asp-for="EndDate" type="hidden" class="form-control" />
                        <input asp-for="StartDate" type="hidden" class="form-control" />
                        <input asp-for="IdCommessa" type="hidden" class="form-control" />
                    }

                    

                    <table class="table table-striped table-bordered nowrap display compact " style="width:100%" id="tableProduzione" tabindex="-1">

                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.LstMaceroView[0].Centro)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.LstMaceroView[0].Piattaforma)
                                </th>
                                <th style="text-align: center">
                                    @Html.DisplayNameFor(model => model.LstMaceroView[0].Giacenza_Documenti)
                                </th>
                                <th style="text-align: center">
                                    @Html.DisplayNameFor(model => model.LstMaceroView[0].Numero_Scatole)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.LstMaceroView)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Centro)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Piattaforma)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.Giacenza_Documenti)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.Numero_Scatole)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>



                </form>

            }
        </div>
    </div>
</div>








