@model GiacenzaSorterRm.Pages.PagesRiepilogoBancali.IndexModel

@{
    Layout = null;
}




<div class="col-xs-6 center">

    @if (!string.IsNullOrEmpty(Model.Message))
    {
        <div class="alert alert-danger" role="alert">
            @Model.Message
        </div>
    }

</div>

@if (Model.LstBancaleView.Count > 0)
{


<form id="formRiepilogo" method="post" style="width:100%">

    @if ((User.IsInRole("ADMIN") || User.IsInRole("SUPERVISOR")))
    {

        <input type="submit" id="btnElimina" hidden />
    }


    <table class="table table-striped table-bordered nowrap display compact table-sm" style="width:100%" id="tableProduzione" tabindex="-1">
        <thead>
            <tr>
                <th class='notexport'>
                    <!-- select all boxes -->
                    @if ((User.IsInRole("ADMIN") || User.IsInRole("SUPERVISOR")))
                    {
                        <input type="checkbox" id="checkAll" class="checkAll" />
                    }

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LstBancaleView[0].Bancale)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LstBancaleView[0].DataArrivoBancale)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LstBancaleView[0].DataSorter)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LstBancaleView[0].DataPrevistaFineSLa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LstBancaleView[0].Note)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LstBancaleView[0].Commessa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LstBancaleView[0].CentroArrivo)
                </th>

                <th class='notexport'></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.LstBancaleView)
            {
            <tr>
                <td>

                    @if ((User.IsInRole("ADMIN") || User.IsInRole("SUPERVISOR")))
                    {

                        <input type="hidden" name="LstBancaleView.Index" value="@item.IdBancale" />
                        <input type="hidden" name="LstBancaleView[@item.IdBancale].IdBancale" value="@item.IdBancale" />
                        <input type="hidden" name="LstBancaleView[@item.IdBancale].Bancale" value="@item.Bancale" />
                        <input name="LstBancaleView[@item.IdBancale].Elimina" type="checkbox" class="checkbox" value="true" />

                    }

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bancale)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataArrivoBancale)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataSorter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataPrevistaFineSLa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Commessa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CentroArrivo)
                </td>
                <td>

                    @if (User.FindFirst("Azienda").Value == "POSTEL" && ((User.IsInRole("ADMIN") || (User.IsInRole("SUPERVISOR")))))
                    {
                        <a asp-page="./Edit" asp-route-id="@item.IdBancale">Modifica</a>

                    }

                </td>
            </tr>
            }
        </tbody>
    </table>

    <input asp-for="EndDate" type="hidden" class="form-control" />
    <input asp-for="StartDate" type="hidden" class="form-control" />
    <input asp-for="Option" type="hidden" class="form-control" />

</form>


}

<script type="module">
    import { FetchHelpers } from '/js/fetch-helpers.js';

    $(document).ready(function () {
        $('.dataTables_filter input[type="search"]').css(
            { 'width': '350px', 'display': 'inline-block' }
        );
    });

    // Handler submit form eliminazione (richiamato dal parent Index.cshtml)
    const formRiepilogo = document.getElementById('formRiepilogo');
    if (formRiepilogo) {
        formRiepilogo.addEventListener('submit', async (e) => {
            e.preventDefault();
            
            const formData = new FormData(e.target);
            
            // Mostra spinner nel parent
            if (typeof FetchHelpers !== 'undefined') {
                FetchHelpers.showSpinner('divProcessing');
            }
            document.getElementById('dvReport').style.display = 'none';
            
            try {
                await FetchHelpers.postFormWithUpdate(
                    '?handler=elimina',
                    formData,
                    'dvReport',
                    () => {
                        // Success callback - il parent gestisce il resto
                        console.log('Bancali eliminati con successo');
                    }
                );
            } catch (error) {
                console.error('Errore eliminazione bancali:', error);
            }
        });
    }
</script>




