@model GiacenzaSorterRm.Pages.PagesNormalizzato.IndexModel

@{
    Layout = null;
}

<div class="container h-100">

    <div class="col-xs-6 col-xs-offset-6 center">
        @if (!string.IsNullOrEmpty(Model.Message))
        {
            <div class="alert alert-danger" role="alert">
                Nessun risultato trovato
            </div>
        }

    </div>

    @if (Model.LstCommesseView.Count > 0)
    {

        <table class="table table-striped table-bordered nowrap display compact table-sm" style="width:100%" id="tableProduzione" tabindex="-1">

            <thead>
                <tr>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.LstCommesseView[0].Commessa)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.LstCommesseView[0].Tipologia)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.LstCommesseView[0].TotaleDocumentiNormalizzati)
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.LstCommesseView)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Commessa)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tipologia)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotaleDocumentiNormalizzati)
                        </td>

                    </tr>
                }
            </tbody>
        </table>


    }

</div>







